<div class="container">
    <div><h1 style="font-family: 'Courier New', Courier, monospace;"><b>{{ course.title }}</b></h1></div>
    <video style="background-color: white; margin: 0; padding: 0;" class="col-9" controls>
        <!-- <div style="background-color: black;"><h4 style="font-family: 'Courier New', Courier, monospace;">{{ course.title }}</h4></div> -->
        <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="col-3" style="float: right;">
        <div *ngFor="let i of course.modules" class="col-11" style="float: right; background-color: #D9D9D9; margin: 2px; padding: 2px;">{{ i.videoTitle }}</div>
    </div>
</div>